<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CONFIG_GENERATOR</title>
		<link rel="stylesheet" href="static/bootstrap/css/tp.css"/>
    <link rel="stylesheet" href="static/bootstrap/css/tp4.css"/>
  </head>
	<body>
	<header>
		<h1>CONFIG_GENERATO<img  src="images/logo.png"></h1>
		
	</header>
		<nav>
		<ul class="deux">
			<li><a href="/index">ACCUEIL</a></li>
			<li><a href="/user">utilisateurs</a></li>
			<li><a href="/web">webserveur</a></li>
            <li><a href="/proxy">ReverseProxy</a></li>
			<li><a href="/Load">LoadBalancer</a></li>
      <li><form action="{{ url_for('logout') }}" method="post">
        <input type="submit" value="Se déconnecter">
      </form></li>
			
		</nav>
        <h1>Liste des proxy</h1>
        <table>
            <thead>
                <tr>
                    <th>app_location</th>
                    <th>proxy_bind</th>
                    <th>proxy_pass</th>
                </tr>
            </thead>
            <tbody>
                {% for user in mes_user %}
                <tr>
                    <td>{{ user['app_location'] }}</td>
                    <td>{{ user['proxy_bind'] }}</td>
                    <td>{{ user['proxy_pass'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
